<button id="getExifBtn1">取得資料1</button>
<button id="getExifBtn2">取得資料2</button>
<button id="getExifBtn3">取得資料3</button>

<%= file_field_tag('picture', id: "fileUploader") %>
<div id="imgCategory">
  <%= image_tag("image1", id: "img1", class: "image100") %>
  <%= image_tag("image2", id: "img2", class: "image100") %>
  <%= image_tag("image3", id: "img3", class: "image100") %>
</div>

<span>我是資料 </span><span id="context"></span>
<hr />
<button id="addPointBtn">將座標打到地圖上</button>
<div id="map" class="map"></div>